.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contacts__list-right {
  align-items: end;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-text-color;
  text-decoration: none;

  &:hover {
    color: $accent-txt-color;
    fill: $accent-txt-color;
  }
}

.contacts__icon {
  fill: $main-text-color;

  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    // color: $accent-txt-color;
    fill: $accent-txt-color;
  }
}

.contacts__list--burger {
  display: flex;
  align-items: center;
}

.contacts-list-burger__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contacts__item {
  font-size: 18px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}
