.footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-top: 0.1px solid $main-text-color;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
