.footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
