.header {
  padding: 10px 0px 10px 0px;
  background-color: $bg-color;
  position: fixed;
  top: -1px;
  left: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 1000;
  width: 100vw;
  border-bottom: 0.1px solid $main-text-color;
  opacity: 0.9;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 5px 5px;
  }
}

.header__title {
  position: relative;
  text-align: center;
}

.header__name {
  letter-spacing: 10px;
  @media screen and (min-width: 768px) {
    padding-top: 10px;
    letter-spacing: 15px;
    font-size: 30px;
  }
}

.header__description {
  letter-spacing: 3px;
  @media screen and (min-width: 768px) {
    letter-spacing: 6px;
    font-size: 18px;
  }
}

.header__contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
