// .hero__img {
//   background: rgb(241, 244, 211);
//   background: radial-gradient(
//     circle,
//     rgb(242, 191, 156) 0%,
//     rgb(236, 165, 102) 100%
//   );
//   background-image: url(../images/jpeg/vintageWork.jpg);

//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   min-height: 400px;
//   border-radius: 10px;

//   @media screen and (min-width: 768px) {
//     min-height: 1000px;

//     background-image: url(../images/jpeg/vintageHero.jpg);
//     background-position: bottom;
//   }
// }

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;

  // object-fit: cover;
  // position: fixed;
}
