.services {
  text-align: center;

  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.services__title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;

  @media screen and (min-width: 400px) {
    gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.services__item {
  padding: 10px;
  width: calc((100% - 30px) / 2);
  // height: calc((100% - 10px) / 5);
  // height: 80%;
  flex-grow: 1;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-right: 0.1px solid $main-text-color;
  border-left: 0.1px solid $main-text-color;
  border-radius: 20px;
  transition: scale $anim, box-shadow $anim;

  @media screen and (min-width: 400px) {
    width: calc(100% / 4);
    font-size: 8px;
  }

  @media screen and (min-width: 555px) {
    width: calc((100%) / 5);
  }

  &:hover {
    scale: 1.05;
    box-shadow: $accent-txt-color 0px 0.5px 4px;
  }
}

.services__info {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $main-text-color;
  border-bottom: 1px solid $main-text-color;
  padding: 5px;
  width: 95%;
  min-height: 38px;
  border-radius: 15px;
  transition: box-shadow $anim, border $anim;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;

  @media screen and (min-width: 375px) {
    font-size: 9px;
  }

  @media screen and (min-width: 768px) {
    font-size: 11px;
  }

  &:hover {
    border-right: 2px solid $accent-txt-color;
    border-left: 2px solid $accent-txt-color;
    box-shadow: $accent-txt-color 0px 0.5px 4px;
    color: $accent-txt-color;
  }
}

.services__content {
  height: 180px;
  width: 100%;
  border: 0.5px solid $main-text-color;
  box-shadow: $main-text-color 0px 1px 0px;
  border-radius: 20px;
  transition: box-shadow $anim, scale $anim;

  &:hover {
    scale: 1.04;
    border: 1px solid $accent-txt-color;
    box-shadow: $accent-txt-color 0px 0.5px 4px;
  }

  // @media screen and (min-width: 920px) {
  //   height: 240px;
  // }

  // @media screen and (min-width: 1200px) {
  //   height: 300px;
  // }

  // @media screen and (min-width: 1400px) {
  //   height: 380px;
  // }

  // @media screen and (min-width: 1800px) {
  //   height: 460px;
  // }
}
