<section class="about container">
  <ul class="about__list">
    <li class="about__item">
      <svg class="about__icon" width="100px" height="100px">
        <use href="./images/icons/icons.svg#icon-team"></use>
      </svg>
      <p class="about__info">
        Команда з більш ніж 30 професіоналів, котрі заради вашої вроди відмінять
        свій вихідний!
      </p>
    </li>

    <li class="about__item">
      <svg class="about__icon" width="100px" height="100px">
        <use href="./images/icons/icons.svg#icon-network"></use>
      </svg>
      <p class="about__info">
        Сімʼя закладів, що цінує традиції та слідує за тендеціями. Саме час
        познайомитись з нами!
      </p>
    </li>

    <li class="about__item">
      <svg class="about__icon" width="100px" height="100px">
        <use href="./images/icons/icons.svg#icon-education"></use>
      </svg>
      <p class="about__info">
        Потужна школа, яка активно розвиває галузь та навчає б’юті майстрів.
        Розвивайся з нами!
      </p>
    </li>

    <li class="about__item">
      <svg class="about__icon" width="100px" height="100px">
        <use href="./images/icons/icons.svg#icon-favorite"></use>
      </svg>
      <p class="about__info">
        Простір краси котрий заряджає позитивним настроєм та огортає своєю
        любовю!
      </p>
    </li>
  </ul>
  <!-- <div class="about__info">
      <h2 class="about__title">Про нас</h2>
      <p>
        Вінтаж - це історія не тільки про салон краси і навіть не про мережу
        салонів. Ми - це найкращі б’юті локації в центрі Коломиї та Косова.
        Щоденно висвітлюєм життя салону в нашому інстаграм
        @vintage_salon_vintage .
      </p>
    </div> -->
</section>
