<header>
  <div class="header">
    <div class="header__contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://goo.gl/maps/xC1Ta8nWjDg6PhAc7"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-location"></use></svg
            >Коломия, просп. В. Чорновола 17
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:0678899039"
            ><svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-phone"></use></svg
            >067 889 90 39
          </a>
        </li>
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://www.instagram.com/vintage_kolomyya_salon/"
            ><svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-instagram"></use></svg
            >Instagram</a
          >
        </li>
      </ul>
    </div>

    <div class="header__title">
      <h1 class="header__name">VINTAGE</h1>
      <p class="header__description">cалон краси</p>
    </div>

    <div class="header__contacts header__contacts-right-side">
      <ul class="contacts__list contacts__list-right">
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://goo.gl/maps/QY7N2JByrbER8j4BA"
            target="_blank"
            rel="noopener noreferrer"
            >Косів, вул. Небесної Сотні 15/7а
            <svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-location"></use></svg
          ></a>
        </li>
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="tel:0681869649"
            target="_blank"
            rel="noopener noreferrer"
          >
            068 186 96 49
            <svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-phone"></use></svg
          ></a>
        </li>
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://www.instagram.com/vintage_kosiv_salon/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram
            <svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
