<!-- <div class="page-bg"> -->
<header>
  <div class="header container">
    <div class="header__contacts">
      <ul class="contacts__list">
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://goo.gl/maps/xC1Ta8nWjDg6PhAc7"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-location"></use></svg
            >м. Коломия, просп. Чорновола, 17
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:0678899039"
            ><svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-phone"></use></svg
            >067 889 90 39
          </a>
        </li>
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://www.instagram.com/vintage_kolomyya_salon/"
            ><svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-instagram"></use></svg
            >Instagram</a
          >
        </li>
      </ul>
    </div>

    <div class="header__title">
      <h1 class="header__name">VINTAGE</h1>
      <p class="header__description">cалон краси</p>

      <button type="button" class="menu">
        <span class="burger-icon"></span>
      </button>

      <div class="burger-container burger-container-is-hidden">
        <ul class="contacts__list contacts__list--burger">
          <!-- <div class="contacts-list-burger__container"> -->
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="https://goo.gl/maps/xC1Ta8nWjDg6PhAc7"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="contacts__icon" width="14px" height="14px">
                <use href="./images/icons/icons.svg#icon-location"></use></svg
              >Коломия, пр. Чорновола, 17
            </a>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="tel:0678899039"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="contacts__icon" width="14px" height="14px">
                <use href="./images/icons/icons.svg#icon-phone"></use></svg
              >067 889 90 39
            </a>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="https://www.instagram.com/vintage_kolomyya_salon/"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="contacts__icon" width="14px" height="14px">
                <use href="./images/icons/icons.svg#icon-instagram"></use></svg
              >vintage_kolomyya_salon</a
            >
          </li>
        </ul>
        <!-- </div> -->

        <!-- <div class="contacts-list-burger__container"> -->
        <ul class="contacts__list contacts__list--burger">
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="https://goo.gl/maps/QY7N2JByrbER8j4BA"
              target="_blank"
              rel="noopener noreferrer"
              ><svg class="contacts__icon" width="14px" height="14px">
                <use href="./images/icons/icons.svg#icon-location"></use></svg
              >Косів, вул. Небесної Сотні, 15/7а
            </a>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="tel:0681869649"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts__icon" width="14px" height="14px">
                <use href="./images/icons/icons.svg#icon-phone"></use>
              </svg>
              068 186 96 49
            </a>
          </li>
          <li class="contacts__item">
            <a
              class="contacts__link"
              href="https://www.instagram.com/vintage_kosiv_salon/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="contacts__icon" width="14px" height="14px">
                <use href="./images/icons/icons.svg#icon-instagram"></use></svg
              >vintage_kosiv_salon
            </a>
          </li>
          <!-- </div> -->
        </ul>

        <div class="burger__footer">
          <ul class="footer__list">
            <li class="footer__item">
              <a
                class="contacts__link"
                href="https://www.facebook.com/people/Vintage/100071881046228/"
                target="_blank"
                rel="noopener noreferrer"
                ><svg class="contacts__icon" width="34px" height="34px">
                  <use href="./images/icons/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="footer__item">
              <a
                class="contacts__link"
                href="https://www.instagram.com/vintage_kolomyya_salon/"
                target="_blank"
                rel="noopener noreferrer"
                ><svg class="contacts__icon" width="30px" height="30px">
                  <use
                    href="./images/icons/icons.svg#icon-instagram"
                  ></use></svg
              ></a>
            </li>
            <li class="footer__item">
              <a
                class="contacts__link"
                href="https://www.tiktok.com/@salon_vintage_kolomyya"
                target="_blank"
                rel="noopener noreferrer"
                ><svg class="contacts__icon" width="34px" height="34px">
                  <use href="./images/icons/icons.svg#icon-tiktok"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header__contacts header__contacts-right-side">
      <ul class="contacts__list contacts__list-right">
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://goo.gl/maps/QY7N2JByrbER8j4BA"
            target="_blank"
            rel="noopener noreferrer"
            >м. Косів, вул. Небесної Сотні, 15/7а
            <svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-location"></use></svg
          ></a>
        </li>
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="tel:0681869649"
            target="_blank"
            rel="noopener noreferrer"
          >
            068 186 96 49
            <svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-phone"></use></svg
          ></a>
        </li>
        <li class="contacts__item">
          <a
            class="contacts__link"
            href="https://www.instagram.com/vintage_kosiv_salon/"
            target="_blank"
            rel="noopener noreferrer"
            >Instagram
            <svg class="contacts__icon" width="14px" height="14px">
              <use href="./images/icons/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>

<main>
  <section class="hero__img">
    <!-- <nav class="container">
      <ul class="navigation__list">
        <li><a class="navigation__item" href="#Послуги">Про нас</a></li>
        <li><a class="navigation__item" href="#Про нас">Послуги</a></li>
        <li><a class="navigation__item" href="#Галерея">Галерея</a></li>
      </ul>
    </nav> -->
  </section>

  <section class="about container">
    <ul class="about__list">
      <li>
        <svg class="about__icon" width="100px" height="100px">
          <use href="./images/icons/icons.svg#icon-team"></use>
        </svg>
        <p>
          Команда професіоналів з більш ніж 30 співробітників, котрі заради
          вашої вроди прийдуть в свій вихідний!
        </p>
      </li>
      <li>
        <svg class="about__icon" width="100px" height="100px">
          <use href="./images/icons/icons.svg#icon-favorite"></use>
        </svg>
        <p>
          Простір краси котрий заряджає позитивним настроєм, дарує компліменти
          та огортає своєю любовю!
        </p>
      </li>
      <li>
        <svg class="about__icon" width="100px" height="100px">
          <use href="./images/icons/icons.svg#icon-network"></use>
        </svg>
        <p>
          Сімʼя закладів, що цінує традиції та слідує за тендеціями. Саме час
          познайомитись з нами!
        </p>
      </li>
      <li>
        <svg class="about__icon" width="100px" height="100px">
          <use href="./images/icons/icons.svg#icon-education"></use>
        </svg>
        <p>
          Потужна школа, яка активно розвиває галузь та навчає б’юті майстрів.
        </p>
      </li>
    </ul>
    <!-- <div class="about__info">
      <h2 class="about__title">Про нас</h2>
      <p>
        Вінтаж - це історія не тільки про салон краси і навіть не про мережу
        салонів. Ми - це найкращі б’юті локації в центрі Коломиї та Косова.
        Щоденно висвітлюєм життя салону в нашому інстаграм
        @vintage_salon_vintage .
      </p>
    </div> -->
  </section>

  <section class="services container">
    <h2 class="services__title">Послуги</h2>
    <ul class="services__list">
      <li class="services__item" data-modal="modal-one" id="1">
        <img
          class="services__content"
          src="/src/images/jpeg/zachiska.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Перукарські послуги</p>
      </li>
      <li class="services__item" data-modal="modal-one" id="2">
        <img
          class="services__content"
          src="/src/images/jpeg/addHair.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Нарощування волосся</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="5">
        <img
          class="services__content"
          src="/src/images/jpeg/vizash.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Візаж</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="10">
        <img
          class="services__content"
          src="/src/images/jpeg/barber.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Барбер</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="4">
        <img
          class="services__content"
          src="/src/images/jpeg/manikiur.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Манікюр</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="3">
        <img
          class="services__content"
          src="/src/images/jpeg/pedykiur.jpeg"
          alt="зображення"
          width="140px"
          height="120px"
        />
        <p>Педикюр</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="6">
        <img
          class="services__content"
          src="/src/images/jpeg/pernament.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Пермаментний макіяж</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="8">
        <img
          class="services__content"
          src="/src/images/jpeg/massage.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Массаж та фітобочка</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="7">
        <img
          class="services__content"
          src="/src/images/jpeg/depilyacija.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Депіляція</p>
      </li>

      <li class="services__item" data-modal="modal-one" id="9">
        <img
          class="services__content"
          src="/src/images/jpeg/sertyficat.jpeg"
          alt="зображення"
          width="140px"
          height="160px"
        />
        <p>Обгортання</p>
      </li>
    </ul>
  </section>
  <div class="modal container" id="modal-one">
    <div class="modal-bg modal-exit"></div>
    <div class="modal-container"></div>
  </div>
</main>
<footer class="footer container">
  <ul class="footer__list">
    <li class="footer__item">
      <a
        class="contacts__link"
        href="https://www.facebook.com/people/Vintage/100071881046228/"
        target="_blank"
        rel="noopener noreferrer"
        ><svg class="contacts__icon" width="34px" height="34px">
          <use href="./images/icons/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
    <li class="footer__item">
      <a
        class="contacts__link"
        href="https://www.instagram.com/vintage_kolomyya_salon/"
        target="_blank"
        rel="noopener noreferrer"
        ><svg class="contacts__icon" width="30px" height="30px">
          <use href="./images/icons/icons.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li class="footer__item">
      <a
        class="contacts__link"
        href="https://www.tiktok.com/@salon_vintage_kolomyya"
        target="_blank"
        rel="noopener noreferrer"
        ><svg class="contacts__icon" width="34px" height="34px">
          <use href="./images/icons/icons.svg#icon-tiktok"></use></svg
      ></a>
    </li>
  </ul>
</footer>

<!-- <section class="gallery container">
    <h2>Галерея</h2>
    <ul class="gallery__list">
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
      <li>
        <img
          src="./images/example.png"
          alt="зображення"
          width="320px"
          height="280px"
        />
      </li>
    </ul>
  </section>
  <footer>
    <div>
      <div>
        <ul class="contacts__list">
          <li>
            <a
              class="contacts__link"
              href="https://goo.gl/maps/xC1Ta8nWjDg6PhAc7"
              >м. Коломия, просп. Чорновола, 17 (2-й поверх)</a
            >
          </li>
          <li>
            <a class="contacts__link" href="tel:0678899039"> 067 889 90 39 </a>
          </li>
          <li>
            <a
              class="contacts__link"
              href="https://www.instagram.com/vintage_kolomyya_salon/"
              >Instagram</a
            >
          </li>
        </ul>
      </div>

      <div>
        <ul class="contacts__list">
          <li>
            <a
              class="contacts__link"
              href="https://goo.gl/maps/QY7N2JByrbER8j4BA"
              target="_blank"
              rel="noopener noreferrer"
              >м. Косів, вул. Небесної Сотні, 15/7а</a
            >
          </li>
          <li>
            <a class="contacts__link" href="tel:0681869649"> 068 186 96 49 </a>
          </li>
          <li>
            <a
              class="contacts__link"
              href="https://www.instagram.com/vintage_kolomyya_salon/"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer> -->
<!-- </div> -->
