<section class="services container">
  <h2 class="services__title">Послуги</h2>
  <ul class="services__list">
    <li class="services__item" data-modal="modal-one" id="1">
      <img
        class="services__content"
        src="/src/images/jpeg/perukar.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Перукарські послуги</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="2">
      <img
        class="services__content"
        src="/src/images/jpeg/naroschuvannia.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Нарощування волосся</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="5">
      <img
        class="services__content"
        src="/src/images/jpeg/vizash.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Візаж</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="10">
      <img
        class="services__content"
        src="/src/images/jpeg/barber.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Барбер</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="6">
      <img
        class="services__content"
        src="/src/images/jpeg/pernament.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Пермаментний макіяж</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="12">
      <img
        class="services__content"
        src="/src/images/jpeg/lashmejker.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Лашмейкер</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="4">
      <img
        class="services__content"
        src="/src/images/jpeg/manikiur.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Манікюр</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="3">
      <img
        class="services__content"
        src="/src/images/jpeg/pedykiur.jpg"
        alt="зображення"
        width="140"
        height="120"
      />
      <p class="services__info">Педикюр</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="8">
      <img
        class="services__content"
        src="/src/images/jpeg/massage.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Массаж та фітобочка</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="9">
      <img
        class="services__content"
        src="/src/images/jpeg/obgortannia.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Обгортання</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="7">
      <img
        class="services__content"
        src="/src/images/jpeg/depilyacija.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Депіляція</p>
    </li>

    <li class="services__item" data-modal="modal-one" id="11">
      <img
        class="services__content"
        src="/src/images/jpeg/liposakcja.jpg"
        alt="зображення"
        width="140"
        height="160"
      />
      <p class="services__info">Ліпосакція</p>
    </li>
  </ul>
</section>
